* {margin: 0; padding: 0;}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: sweet;
    src: url(./fonts/SweetSansProRegular.woff);
    font-weight: 400;
}
body {
  font-family: sweet;
}
li {list-style: none;}
a {text-decoration: none; color: #333;}

/* html.has-scroll-smooth {
	backface-visibility: hidden;
	transform: translateZ(0);
} */
[data-load-container] {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100vw;
}
/* header */
header {
  width: 100%; height: 150px;
  background-color: white;
  position: absolute;
  top: 0; left: 0;
  z-index: 99;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
header .inner {
  width: 1260px; height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* header */

/* menu */
.menu {
  width: 1260px; height: 40px;
  margin: 0 auto;
  z-index: 999;
}
.nav .menu {
  display: flex;
  justify-content: space-around;
  z-index: 999;
}
.nav .menu li {
  text-align: center;
}
.nav .menu li a {
  line-height: 40px;
  font-weight: bold;
  color: rgb(6, 67, 56) ;
}
.menu_box {
  width: 160px;
  background-color: white;
  border-radius: 0 0 10px 10px;
  z-index: 999;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
  padding: 20px 0;
  font-family: 'Pretendard-Regular';
}
.menu li:hover > .menu_box {
  visibility: visible;
  opacity: 1;
}
.menu_box li {
  font-size: 14px;
  line-height: 45px;
}
.menu_box li:hover {
  opacity: 0.7;
}
/* menu */

/* main_visual */
.main_visual {
  width: 1260px; height: 320px;
  margin: 200px auto 100px auto;
  overflow: hidden;
  border-radius: 1rem;
}
.main_visual img {
    width: 100%; 
    transition: all 0.5s ease-in-out;
}
.main_visual img:hover {
  transform: scale(1.04);
}
/* main_visual */

/* main_item */
.main_item {
  width: 960px; height: auto;
  margin: 100px auto 160px auto;
}
.item {
  display: flex;
  gap: 30px;
}
.item img {
  width: 100%;
}
.item li {
  flex: 1;
  position: relative;
}
.main_item .best {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: rgb(6, 67, 56);
  z-index: 999;
  margin-bottom: 20px;
}
.hover_img {
  position: absolute; 
  top: 0; left: 0;
  opacity: 0;
  transition: all 0.5s;
}
.hover_img:hover {
  opacity: 1;
}

.item_txt {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  margin-top: 100px;
  text-align: center;
  font-family: 'Pretendard-Regular';
  font-size: 14px;
}
.item_txt button {
  width: 120px; height: 30px;
  border: none;
  background-color: rgb(6, 67, 56);
  color: white;
  margin-top: 30px;
  cursor: pointer;
}
.item_txt button:hover {
  opacity: 0.8;
}
/* main_item */

/* img_layout */
.img_layout {
  width: 1000px;
  margin: 150px auto;
}
.img_layout img {
  display: block;
  width: 238px; height: auto;
  border-radius: 10px;
}
.img_layout div:nth-child(even) {
  text-align: right;
  background-color: #f2f2f2;
  border-radius: 20px;
}
.img_layout .txt {
  display: flex;
  gap: 100px;
  height: 200px;
  margin-bottom: 50px;
}
.img_layout .layout_txt {
  flex: 2;
  text-align: center;
  line-height: 200px;
  font-size: 28px;
  font-family: 'Pretendard-Regular';
}
/* img_layout */

/* travel */
.travel_img_box {
  width: 960px;
  margin: 100px auto;
}
.travel_img {
  display: flex;
  gap: 30px;
}
.travel li {
  flex: 1;
}
.travel li img {
  width: 100%; height: auto;
}
.travel_banner {
  width: 100%; height: auto;
  position: relative;
}
.travel_txt {
  width: 500px; height: 100px;
  position: absolute;
  bottom: 70%; right: 10%;
  text-align: center;
  color: white;
}
.travel_title {
  margin-bottom: 100px;
}
.travel_txt .txt_01 {
  font-size: 36px;
}
.travel_txt .txt_02 {
  font-size: 20px;
  margin: 10px 0;
  font-family: 'Pretendard-Regular';
}
.travel_img {
  margin: 50px 0;
}
.travel_title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: rgb(6, 67, 56);
  z-index: 999;
}
/* travel */

/* video */
.video {
  width: 1600px;
  margin: 0 auto;
}
/* video */

/* sun_product */
.sun_product {
  width: 100%;
}
.sun_banner {
  width: 1260px; height: auto;
  margin: 100px auto;
}
.sun_banner img {
  width: 100%;
  border-radius: 20px;
}
.marquee_wrap {
  position: absolute;
  left: 0; top: 35%;
  transform: translate(-35%);
}
.marquee_wrap { 
  width: 100%;
  white-space: nowrap; 
  font-size: calc(8vw); 
  display: flex; 
  align-items: center; 
  will-change: transform;
}
.marquee_box { 
  will-change: transform; 
  animation: marquee 30s linear infinite;  font-weight: 700; 
}
.marquee_text {
  background-color: rgba(255, 255, 255, 0.322);
}
  
@keyframes marquee {
  from { transform: translateZ(0) }
  to { transform: translate3d(-100%,0,0) }
}
.sun_banner li {
  position: relative;
}
.sun_banner li .sun_pro {
  width: 200px;
  position: absolute;
  top: 100px; left: 80px;
  animation: swing 5s ease infinite;
}
@keyframes swing {
  15% {transform: translateY(5px);}
  30% {transform: translateY(-5px);}
  50% {transform: translateY(3px);}
  65% {transform: translateY(-3px);}
  80% {transform: translateY(2px);}
  100% {transform: translateY(0px);}
}
/* sun_product */


/* animation */
.insta_img {
  display: flex;
}
.insta_img li {
  position: relative;
  cursor: pointer;
}
.insta_img li img {
  width: 100%;
  display: block;
}
.insta {
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0; left: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s ease;
}
.insta:hover {
  opacity: 1;
}
.insta i {
  font-size: 50px;
  color: rgb(255, 255, 255);
}
/* animation */

/* footer */
.footer_warp {
  width: 100%; height: 400px;
  background-color: rgb(6, 67, 56);
  color: white;
}
.footer {
  width: 1260px; height: auto;
  margin: 0 auto;
  padding-top: 40px;
  text-align: center;
  line-height: 25px;
  font-family: 'Pretendard-Regular';
  font-size: 12px;
}
.footer .copyright {
  font-family: sweet;
  margin-top: 30px;
}
/* footer */

.c-scrollbar {
  z-index: 999;
}
